:root {
	background-color: whitesmoke;

	--basic-color: #4a4a4a;
	--brackets-color: yellowgreen;

	--left-brackets: "[ ";
	--right-brackets: " ]";
	--separator: ", ";
}

.App {
	font-family: sans-serif;
	text-align: center;

	padding: 2rem;
}

.array {
	padding: 0;
	margin: 2rem 5rem;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.array h3 {
	font-size: 2rem;
	text-align: center;
	padding-block-end: 1rem;
}

.array ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	flex: none;

	border: 5px var(--basic-color);
	border-style: dashed solid;

	width: max-content;
}

.array .array-item {
	margin: 0px;
	padding: 1vmin 2.5vmin;

	background-color: white;
	color: #3273dc;

	text-align: center;

	font-size: 2.75rem;
	font-weight: bold;

	transition: all 0.25s ease-out;

	opacity: 0;
	animation: show 2s 1 forwards;
}

.array .array-item:not(:last-child)::after {
	content: var(--separator);
	color: rebeccapurple;
}

.array .array-item:first-child::before {
	content: var(--left-brackets);
	color: var(--brackets-color);
}

.array .array-item:last-child::after {
	content: var(--right-brackets);
	color: var(--brackets-color);
}

.array-item:hover {
	transform: scale(1.25);
	outline: 5px dashed var(--basic-color);
	color: blueviolet;
	z-index: 1;
	transition: all 0.25s easy-out;
}

.array-item.active {
	transform: scale(1.25);
	outline: 5px dotted var(--basic-color);
	color: crimson;
	z-index: 1;
	transition: all 0.25s easy-out;
}

/*
.array-item:not(.active) {
	filter: blur(1.5px);
	z-index: 1;
	transition: filter 0.1s ease-out;
}
*/

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
